@charset "UTF-8";

body{
    height: 95vh;
}

iframe, div{
    width: 270px;
    height: 485px;
    
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    background-image: url('../imagens/tela-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}