@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{

    background-image: url("../imagens-logo/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: auto;
    margin: 10px 0; 

    position: absolute;
    top: 2%;
    right: 0%;
}

img.botao-bola{
    max-width: 50px;
    max-height: 50px;
    margin: 5px 2px;

    border-radius: 50% 50%;
}

img.botao-bola:hover{
    border: 2px solid yellow;
}

main{
    height: 100vh;
}

div{
    max-width: 310px;
    max-height: 420px;
    margin: 10px;
}

img{
    max-width: 325px;
    max-height: 420px;
    margin: 20px;
}

iframe{
    width: 179.6px;
    height: 320px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.tela-centralizada{
    display: flex;
    justify-content: center;
    align-items: center;
}