@charset "UTF-8";

*{
    margin: 00px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background: black url("../imagens-logo/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#tela-iphone{
    width: 305px;
    height: 605px;

    background: url("../imagens-logo/frame-iphone-p.png") top center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

iframe#tela{
    width: 257px;
    height: 453px;
    border-radius: 5px;


    position: relative;
    top: 13%;
    left: 8%;
}

#rede-social{
    display: flex;
    flex-direction: column;
    align-items: end; 
}

#rede-social img{
    width: 50px;
    margin: 10px;   
    border-radius: 50%;

    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.661);    
}

img:hover{
    border: 2px solid yellow;
    transform: translate(-3%, -3%);
    transition: .06s;
}

@media screen and (max-width: 525px) {
    #redes-sociais#redes-sociais img{   
        width: 20px;
    }
}