@charset "UTF-8";

div{
    width: 180px;
    height: 320px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-size: cover;
}

div#container{
    overflow-y: auto;
}

img{
    width: 163.4px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 163.4px;
    height: 60px;
    background-color: rgb(173, 9, 9);
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover > p{
    background-color: red;
}

a:active > p{
    color: black;
    background-color: yellow;
}